<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
      <div class="card mb-4">
        <div class="card-header">Nueva contraseña</div>
        <div class="card-body">
          <form action="/requestpassword" method="post">
            <div class="form-group mb-3">
              <label for="email">Email</label>
              <input
                type="email"
                name="email"
                class="form-control"
                id="email"
                placeholder="Enter your email"
                required
              />
            </div>
            <button type="submit" class="btn btn-primary btn-block">Enviar solicitud de cambio de contraseña</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>