<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
      <div class="card mb-4">
        <div class="card-header">Cambia la contraseña</div>
        <div class="card-body">
          <form action="/reset/{{token}}" method="post">
            <div class="form-group mb-3">
              <label for="password">Nueva contraseña</label>
              <input
                type="password"
                name="password"
                class="form-control"
                id="password"
                placeholder="Enter new password"
                required
              />
            </div>
            <button type="submit" class="btn btn-primary btn-block">Cambia contraseña</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>